@import './base.css';

@media screen and (min-width: 1024px) {
  header {
    background-color: #f6f6f6;
    height: 100vh;
  }
  .header-container{
    margin: auto ;
    padding-top: 5rem;
    width: 70%;
    height: 100%;
    /* background-color: pink; */
  }
  .header-card{
    /* background-color: blue; */
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .header-image{
    /* background-color: green; */
    display: inline-flex;

  }
  .header-image img{
    border-radius: 50%;
    height: 50%;
    width: 50%;
    margin: auto;
  }
  .introduction{
    display: grid;
    place-content: center;
  }
  .contacts{
    /* background-color: aqua; */
    width: 60%;
    margin: 2rem auto 0;
  }
  .contacts ul{
    height: 12vh;
    display:  flex;
    justify-content: space-around;
    align-items: center;
  }
  .contacts ul li{
    list-style: none;
    /* background-color: red; */
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts ul li i{
    font-size: 2rem;
    line-height: 4rem;
    transition:  .6s;
    color: #000;
  }
  .contacts ul li i:hover{
    color: #fff;
  }
  .contacts ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgb(0, 0, 0, .5);
  }
  .contacts ul li a:hover{
    transform: translate(0, -10px);
    background-color: var(--color-hover);

  }
  /* profession vue */
  .about-me{
    margin: 1rem auto;
    width: 100%;
  }
  .about-heading{
    width: 40%;
    margin: auto;
    text-align: center;

  }
  .self-summary{
    height: 70vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }
  .self-image{
    height: 100%;
    flex-basis: 30%;
  }
  .self-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-area{
    flex-basis: 40%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-left: 10px ;
  }
  .cta-wrapper{
    flex-basis: 20%;
  }
  .stats{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aquamarine; */
  }
  .box{
    margin: auto 1rem ;
    text-align: center;
  }
  .resume{
    width: 100%;
    height: 8vh;
    /* background-color: aquamarine; */
    text-align: center;
  }
  .resume a{
    display: block;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--color-hover);
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
  .resume a:hover{
    color: var(--color-hover);
    background-color: #fff;
    border: 1px solid var(--color-hover);
  }
}